" custom/Home End PgUp PgDn
nmap H ^
nmap L $
nmap K <C-u>
nmap J <C-d>
vmap H ^
vmap L $
vmap K <C-u>
vmap J <C-d>

" custom/redo
nmap U <C-r>
vmap U <C-r>

" overide/Delete without copy (use x for cut)
nnoremap d "_d
vnoremap d "_d

let mapleader = ';'
" leader - window management
noremap <leader>w <C-w>
" leader - jump
noremap <leader>J <C-i>
noremap <leader>j <C-o>
" leader global copy/paste
noremap <leader>y "gy
noremap <leader>p "gp
